<h1>Search Form</h1>
<div id="search_form_container">
  <%= form_tag :controller => 'static_pages', :action => 'search' do %>
    <p>
      <%= label_tag 'from' %>
      <%= text_field_tag :from, params[:from] %>
      <%= label_tag 'to' %>
      <%= text_field_tag :to, params[:to] %>
      <%= label_tag 'date' %>
      <%= text_field_tag :date, params[:date] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>